body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#tab {
  width: 5em;
}
#caps {
  width: 6em;
}
#enter {
  width: 6em;
}
#shift {
  width: 8em;
}
#back {
  width: 5em;
}
.selected {
  background-color: transparent;
  -webkit-animation: vibrate-1 0.3s linear infinite both;
  animation: vibrate-1 0.3s linear infinite both;
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
.hit {
  animation: hit 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
a {
  color: black;
}

@keyframes hit {
  0% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.right {
  animation: correct 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes correct {
  0% {
    -webkit-transform: scale(1.2);
    background: green;
    color: white;
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    background: transparent;
    color: black;
    transform: scale(1);
  }
}
.wrong {
  animation: incorrect 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes incorrect {
  0% {
    -webkit-transform: scale(1.2);
    background: red;
    color: white;
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    background: transparent;
    color: black;
    transform: scale(1);
  }
}
